body {
	background-color: #f2f4f7;
	max-width: 51em;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	margin-top: 3.8em;
}

.bold {
	font-family: 'Carmen Sans', sans-serif;
	font-size: 1em;
}

a {
	font-family: 'Quicksand', sans-serif;
	font-size: 2.2em;
}

.links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 50%;
}
